@model Web.Models.PurchaseDataModel
@{
    ViewBag.Title = "修改采购进货信息（同时修改商品库存信息）";
}

@using (Html.BeginForm("Edit", "PurchaseData", FormMethod.Post, new { id = "Edit", data_val = true }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.ID)
    <div class="box box-solid">
        <div class="box-body">

            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-4 ">
                    <div class="form-group">
                        @Html.LabelFor(m => m.GoodsName, new { @class = "control-label" })@RequiredTag()
                        @Html.DropDownListFor(m => m.GoodsID, Model.GoodsList, T("未选择").Text.ToString(), new { @class = "form-control full-width " })

                        @Html.ValidationMessageFor(m => m.GoodsID)
                    </div>
                </div>
                @Html.TextBoxFor(m => m.GoodsName, new { @class = "form-control hidden", @readonly = "readonly" })


                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="form-group">
                        @Html.LabelFor(m => m.SupplierName, new { @class = "control-label" })@RequiredTag()
                        @Html.DropDownListFor(m => m.SupplierID, Model.SupplierList, T("未选择").Text.ToString(), new { @class = "form-control full-width " })
                        @*@Html.TextBoxFor(m => m.SupplierID, new { @class = "form-control " })*@
                        @Html.ValidationMessageFor(m => m.SupplierID)
                    </div>
                </div>

                @Html.TextBoxFor(m => m.SupplierName, new { @class = "form-control hidden" })
                @Html.TextBoxFor(m => m.SupplierAddress, new { @class = "form-control hidden" })


            </div>

            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="form-group">
                        @Html.LabelFor(m => m.Date, new { @class = "control-label" })@RequiredTag()
                        @Html.KLDateTextBoxFor(m => m.Date, new { @class = "form-control kl-date-picker full-width" })
                        @*@Html.TextBoxFor(m => m.Date, new { @class = "form-control " })*@
                        @Html.ValidationMessageFor(m => m.Date)
                    </div>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="form-group">
                        @Html.LabelFor(m => m.Unit, new { @class = "control-label" })@RequiredTag()
                        @Html.TextBoxFor(m => m.Unit, new { @class = "form-control " })
                        @Html.ValidationMessageFor(m => m.Unit)
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="form-group">
                        @Html.LabelFor(m => m.Specification, new { @class = "control-label" })@RequiredTag()
                        @Html.DropDownListFor(m => m.Specification, Model.SpecificationList, T("未选择").Text.ToString(), new { @class = "form-control full-width " })
                        @Html.ValidationMessageFor(m => m.Specification)
                    </div>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="form-group">
                        @Html.LabelFor(m => m.GoodsType, new { @class = "control-label" })@RequiredTag()
                        @Html.DropDownListFor(m => m.GoodsType, Model.GoodsTypeList, T("未选择").Text.ToString(), new { @class = "form-control full-width " })
                        @Html.ValidationMessageFor(m => m.GoodsType)
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="form-group">
                        @Html.LabelFor(m => m.WarehouseName, new { @class = "control-label" })@RequiredTag()
                        @Html.DropDownListFor(m => m.WarehouseID, Model.WarehouseList, T("未选择").Text.ToString(), new { @class = "form-control full-width " })
                        @*@Html.TextBoxFor(m => m.WarehouseID, new { @class = "form-control " })*@
                        @Html.ValidationMessageFor(m => m.WarehouseID)
                    </div>
                </div>
                @Html.TextBoxFor(m => m.WarehouseName, new { @class = "form-control hidden" })
            </div>

            <div class="row">

                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="form-group">
                        @Html.LabelFor(m => m.Quantity, new { @class = "control-label" })@RequiredTag()
                        @Html.TextBoxFor(m => m.Quantity, new { @class = "kl-input-num  full-width" })
                        @Html.ValidationMessageFor(m => m.Quantity)
                    </div>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="form-group">
                        @Html.LabelFor(m => m.UnitPrice, new { @class = "control-label" })@RequiredTag()
                        @Html.TextBoxFor(m => m.UnitPrice, new { @class = "kl-input-num  full-width" })
                        @Html.ValidationMessageFor(m => m.UnitPrice)
                    </div>
                </div>

            </div>

            <div class="row">

                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="form-group">
                        @Html.LabelFor(m => m.Freight, new { @class = "control-label" })@RequiredTag()
                        @Html.TextBoxFor(m => m.Freight, new { @class = "kl-input-num  full-width" })
                        @Html.ValidationMessageFor(m => m.Freight)
                    </div>
                </div>


                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="form-group">
                        @Html.LabelFor(m => m.Sum, new { @class = "control-label" })@RequiredTag()
                        @Html.TextBoxFor(m => m.Sum, new { @class = "kl-input-num  full-width" })
                        @Html.ValidationMessageFor(m => m.Sum)
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="form-group">
                        @Html.LabelFor(m => m.Total, new { @class = "control-label" })
                        @Html.TextBoxFor(m => m.Total, new { @class = "form-control " })
                        @Html.ValidationMessageFor(m => m.Total)
                    </div>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="form-group">
                        @Html.LabelFor(m => m.Brand, new { @class = "control-label" })
                        @Html.TextBoxFor(m => m.Brand, new { @class = "form-control " })
                        @Html.ValidationMessageFor(m => m.Brand)
                    </div>
                </div>


            </div>

            <div class="row">

                <div class="col-xs-12 col-sm-12 col-md-8">
                    <div class="form-group">
                        @Html.LabelFor(m => m.Remarks, new { @class = "control-label" })
                        @Html.TextAreaFor(m => m.Remarks, new { @class = "form-control " })
                        @Html.ValidationMessageFor(m => m.Remarks)
                    </div>
                </div>
            </div>

        </div>
        @Html.TextBoxFor(m => m.InventoryDataID, new { @class = "form-control hidden" })

        <div class="box-footer">
            <button id="submitChange" type="submit" class="btn btn-primary"><i class="fa fa-save"></i> 保存</button>
            <a href="@Url.Action("Index")" class="btn btn-default"><i class="fa fa-undo"></i> 返回</a>
        </div>
    </div>
}
@helper RequiredTag()
{
    @Html.Partial("_RequiredTagPartial")
}



@section scripts{
    @Html.Partial("_KendoDropdownListPartial")
    @Html.Partial("_KendoDatePickerPartial")
    @Html.Partial("_ModalSelectorPartial")
    @Html.Partial("_KendoNumericTextBoxPartial")

    <script type="text/javascript">

        $(document).ready(function () {
            $("#Date").kendoDatePicker({
                format: "yyyy-MM-dd",

            });
        });
        $("#Quantity").change(function () {
            Sum();
        })
        $("#UnitPrice").change(function () {
            Sum();
        })
        $("#Freight").change(function () {
            Sum();
        });

        function Sum() {
            $("#Sum").getKendoNumericTextBox().value((parseInt($("#Quantity").val()) * parseInt($("#UnitPrice").val())) + parseInt($("#Freight").val()));
        }
        $("#GoodsID").change(function () {
            $("#GoodsName").val($("#GoodsID").getKendoDropDownList().text());
        })
        $("#WarehouseID").change(function () {
            $("#WarehouseName").val($("#WarehouseID").getKendoDropDownList().text());
        })
        $("#SupplierID").change(function () {
            $("#SupplierName").val($("#SupplierID").getKendoDropDownList().text());
        })

        $("#Quantity").kendoNumericTextBox({
            decimals: 0,
            format: "0",
            min: 0,
            max: 50000
        });

        $("#UnitPrice").kendoNumericTextBox({
            format: "c",
            decimals: 2,
            min: 0
        });
        $("#Sum").kendoNumericTextBox({
            format: "c",
            decimals: 2,
            min: 0
        });

        $("#Freight").kendoNumericTextBox({
            format: "c",
            decimals: 2,
            min: 0
        });

        $(function () {

        });
    </script>
}









