@model Web.Models.InventoryDataModel
@{
    Layout = null;
}
<fieldset>
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6">
            <div class="form-group">
                <label class="control-label"> 库存编号</label>
                <div class="display-lable">
                    @Html.DisplayFor(model => model.ID)
                </div>

            </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-6">
            <div class="form-group">
                @Html.LabelFor(m => m.SupplierName, new { @class = "control-label" })
                <div class="display-lable">
                    @Html.DisplayFor(model => model.SupplierName)
                </div>
            </div>
        </div>

    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6">
            <div class="form-group">
                <label class="control-label"> 原库存</label>
                <div class="display-lable">
                    @Html.DisplayFor(model => model.WarehouseName)
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-6">
            <div class="form-group">
                @Html.LabelFor(m => m.GoodsName, new { @class = "control-label" })
                <div class="display-lable">
                    @Html.DisplayFor(model => model.GoodsName)
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-6">
            <div class="form-group">
                <label class="control-label"> 目标库存</label>
                <div class="display-lable">
                    @Html.DropDownListFor(m => m.WarehouseID, Model.WarehouseList, T("未选择").Text.ToString(), new { @class = "form-control full-width " })
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-6">
            <div class="form-group">
                <label class="control-label"> 调动数量</label>
                <div class="display-lable">
                    <input id="NewInventoryQuantity" class="kl-input-num  full-width" />
                </div>
            </div>
        </div>

    </div>

    <button type="button" class="btn btn-default" id="dylan"><span class="fa fa-pencil"></span> 调货</button>

</fieldset>


<script>

    $("#NewInventoryQuantity").kendoNumericTextBox({
        decimals: 0,
        format: "0",
        min: 0,
        max: 50000
    });

    $("#WarehouseID").kendoDropDownList({
        filter: "startswith"
    });

    $("#dylan").click(function (e) {
        alertify.klConfirm("是否确认调货", function () {
            location.href = '/InventoryData/ClickTransferCargo?' + "id=" +@Model.ID +"&newNum=" + $("#NewInventoryQuantity").val() + "&newWarehouseID=" + $("#WarehouseID").getKendoDropDownList().value();
        });
    });
</script>


