@model Web.Models.SalesShipmentsDataModel
@{
    ViewBag.Title = "销售出货添加";
}

@using (Html.BeginForm("Add", "SalesShipmentsData", FormMethod.Post, new { id = "Add", data_val = true }))
{
    @Html.AntiForgeryToken()
    <div class="box box-solid">
        <div class="box-body">
            <div class="row">
                <div class="col-xs-12 col-sm-8 col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(m => m.GoodsName, new { @class = "control-label" })@RequiredTag()
                        <div class="input-group">
                            @Html.TextBoxFor(m => m.GoodsName, new { @class = "form-control", @readonly = "readonly" })
                            <span class="input-group-btn">
                                <button id="ShowSelectInventoryDataGoods" class="btn btn-default btn-flat" type="button"><i class="fa fa-ellipsis-h"></i></button>
                                <button id="DeleteSelectInventoryDataGoods" class="btn btn-default btn-flat" type="button" )><i class="fa fa-close"></i></button>
                            </span>
                        </div>
                        @Html.HiddenFor(m => m.GoodsID)
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="form-group">
                        @Html.LabelFor(m => m.Date, new { @class = "control-label" })@RequiredTag()
                        @Html.KLDateTextBoxFor(m => m.Date, new { @class = "form-control kl-date-picker full-width" })
                        @Html.ValidationMessageFor(m => m.Date)
                    </div>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="form-group">
                        @Html.LabelFor(m => m.Unit, new { @class = "control-label" })@RequiredTag()
                        @Html.TextBoxFor(m => m.Unit, new { @class = "form-control " })
                        @Html.ValidationMessageFor(m => m.Unit)
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="form-group">
                        @Html.LabelFor(m => m.Specification, new { @class = "control-label" })@RequiredTag()
                        @Html.DropDownListFor(m => m.Specification, Model.SpecificationList, T("未选择").Text.ToString(), new { @class = "form-control full-width " })
                        @Html.ValidationMessageFor(m => m.Specification)
                    </div>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="form-group">
                        @Html.LabelFor(m => m.GoodsType, new { @class = "control-label" })@RequiredTag()
                        @Html.DropDownListFor(m => m.GoodsType, Model.GoodsTypeList, T("未选择").Text.ToString(), new { @class = "form-control full-width " })
                        @Html.ValidationMessageFor(m => m.GoodsType)
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="form-group">
                        @Html.LabelFor(m => m.Brand, new { @class = "control-label" })@RequiredTag()
                        @Html.TextBoxFor(m => m.Brand, new { @class = "form-control " })
                        @Html.ValidationMessageFor(m => m.Brand)
                    </div>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="form-group">
                        @Html.LabelFor(m => m.Quantity, new { @class = "control-label" })@RequiredTag()
                        @Html.TextBoxFor(m => m.Quantity, new { @class = "kl-input-num  full-width" })
                        @Html.HiddenFor(m => m.OldQuantity)
                        @Html.ValidationMessageFor(m => m.Quantity)
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="form-group">
                        @Html.LabelFor(m => m.UnitPrice, new { @class = "control-label" })@RequiredTag()
                        @Html.TextBoxFor(m => m.UnitPrice, new { @class = "kl-input-num  full-width" })
                        @Html.ValidationMessageFor(m => m.UnitPrice)
                    </div>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="form-group">
                        @Html.LabelFor(m => m.Sum, new { @class = "control-label" })@RequiredTag()
                        @Html.TextBoxFor(m => m.Sum, new { @class = "kl-input-num  full-width" })
                        @Html.ValidationMessageFor(m => m.Sum)
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="form-group">
                        @Html.LabelFor(m => m.Cost, new { @class = "control-label" })@RequiredTag()
                        @Html.TextBoxFor(m => m.Cost, new { @class = "kl-input-num  full-width" })
                        @Html.ValidationMessageFor(m => m.Cost)
                    </div>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="form-group">
                        @Html.LabelFor(m => m.Profit, new { @class = "control-label" })@RequiredTag()
                        @Html.TextBoxFor(m => m.Profit, new { @class = "kl-input-num  full-width" })
                        @Html.ValidationMessageFor(m => m.Profit)
                    </div>
                </div>
            </div>
            <div class="row">

                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="form-group">
                        @Html.LabelFor(m => m.ClientDataName, new { @class = "control-label" })@RequiredTag()
                        @Html.DropDownListFor(m => m.ClientDataID, Model.ClientDataList, T("未选择").Text.ToString(), new { @class = "form-control full-width " })
                        @Html.HiddenFor(m => m.ClientDataName)
                        @Html.ValidationMessageFor(m => m.ClientDataID)
                    </div>
                </div>


                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="form-group">
                        @Html.LabelFor(m => m.WarehouseName, new { @class = "control-label" })@RequiredTag()
                        @Html.DropDownListFor(m => m.WarehouseID, Model.WarehouseList, T("未选择").Text.ToString(), new { @class = "form-control full-width " })
                        @Html.HiddenFor(m => m.WarehouseName)
                        @Html.ValidationMessageFor(m => m.WarehouseID)
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="form-group">
                        @Html.LabelFor(m => m.Freight, new { @class = "control-label" })@RequiredTag()
                        @Html.TextBoxFor(m => m.Freight, new { @class = "kl-input-num  full-width" })
                        @Html.ValidationMessageFor(m => m.Freight)
                    </div>
                </div>
            </div>
            <div class="row">
                @*<div class="col-xs-12 col-sm-6 col-md-4">
                <div class="form-group">
                    @Html.LabelFor(m => m.Total, new { @class = "control-label" })@RequiredTag()
                    @Html.TextBoxFor(m => m.Total, new { @class = "kl-input-num  full-width" })
                    @Html.ValidationMessageFor(m => m.Total)
                </div>
            </div>*@

                <div class="col-xs-12 col-sm-10 col-md-8">
                    <div class="form-group">
                        @Html.LabelFor(m => m.Remarks, new { @class = "control-label" })@RequiredTag()
                        @Html.TextAreaFor(m => m.Remarks, 5, 0, new { @class = "form-control " })
                        @Html.ValidationMessageFor(m => m.Remarks)
                    </div>
                </div>
            </div>
        </div>

        <div class="box-footer">
            <button id="submitChange" type="submit" class="btn btn-primary"><i class="fa fa-save"></i> 保存</button>
            <a href="@Url.Action("Index")" class="btn btn-default"><i class="fa fa-undo"></i> 返回</a>
        </div>
    </div>
}
@helper RequiredTag()
{
    @Html.Partial("_RequiredTagPartial")
}

@section scripts{
    @Html.Partial("_KendoDropdownListPartial")
    @Html.Partial("_KendoDatePickerPartial")
    @Html.Partial("_ModalSelectorPartial")
    @Html.Partial("_KendoNumericTextBoxPartial")


    <script type="text/javascript">
        $(function () {
            $("#Quantity").kendoNumericTextBox({
                decimals: 0,
                format: "0",
                min: 0,
                max: 50000
            });

            $("#UnitPrice").kendoNumericTextBox({
                format: "c",
                decimals: 2,
                min: 0
            });
            $("#Sum").kendoNumericTextBox({
                format: "c",
                decimals: 2,
                min: 0
            });

            $("#Freight").kendoNumericTextBox({
                format: "c",
                decimals: 2,
                min: 0
            });

            $("#Cost").kendoNumericTextBox({
                format: "c",
                decimals: 2,
                min: 0
            });

            $("#Profit").kendoNumericTextBox({
                format: "c",
                decimals: 2,
                min: 0
            });


            $("#ShowSelectInventoryDataGoods").on("click", onShowSelectInventoryDataGoodsClick);
            function onShowSelectInventoryDataGoodsClick() {
                $.klModal.showModal("库存商品信息选择器", false, true);

                $.ajax({
                    url: "@Url.Action("SelectInventoryDataByRadio", "Common")",
                    method: "POST",
                    data: addAntiForgeryToken({
                        HotelCode: $("#HotelCode").val()
                    }),
                    beforeSend: $.klModal.displayModalLoadingInfo,
                    success: function (data) {
                        $.klModal.addDataToModalBody(data);
                        $.klModal.hideModalLoadingInfoAndDisplayBody();
                    }
                });
            }

            function setCustomer(data) {
                if (data) {
                    $("#GoodsName").val(data.goodsName);
                    $("#GoodsID").val(data.goodsID);
                    $("#GoodsType").val(data.goodsType);
                    $("#OldQuantity").val(data.inventoryQuantity);
                    $("#Cost").val(data.costPrice);
                    $("#Brand").val(data.brand);
                    $("#Sum").val(data.inventorySum);
                    $("#Specification").val(data.specification);
                    $("#SupplierID").getKendoDropDownList().value(data.supplierID);
                    $("#Unit").val(data.unit);
                    $("#WarehouseID").getKendoDropDownList().value(data.warehouseID);
                    $("#WarehouseName").val(data.warehouseName);
                }
                else {
                    $("#GoodsName").val("");
                    $("#GoodsID").val("");
                    $("#GoodsType").val("");
                    $("#OldQuantity").val("");
                    $("#Cost").val("");
                    $("#Brand").val("");
                    $("#Sum")("");
                    $("#Specification").val("");
                    $("#SupplierID").getKendoDropDownList().value("");
                    $("#Unit").val("");
                    $("#WarehouseID").getKendoDropDownList().value("");
                    $("#WarehouseName").val("");
                }
            }



        });
    </script>
}

